@import "../mixer";
@import "../container";

.header {
    padding-top: 72px;
    background-color: #014e56;
    margin-bottom: -1px;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo__img {
    display: block;
}

.site-nav__list {
    @include reset-list;
    margin-left: 80px;

}


.site-nav__link {
    @include reset-link;
    color: #fff;
    border-radius: 5px;
    padding: 5px 0;
    transition: all 0.5s ease;
}
.site-nav__link:hover{
    color: rgb(6, 243, 25);
    transform: scale(1.4) translateY(-5px);
}
.site-nav__link:active{
    transform: scale(1) translateY(-5px);
    box-shadow: inset 0 0 5px 5px rgb(6, 243, 25);
}
.header-btn{
    text-decoration: none;
    border: 2px solid #FFFFFF;
    color: #fff;
    @include site-btn;
    transition: all 0.1s ease;
}
.header-btn:hover{
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}
.header-btn:active{
    opacity: 0.5;

}
.header-hamburger{
    display: none;
}
@include breakpoint-tablet(768px){
  .inner-header{
    padding-left: 40px;
    padding-right: 40px;
  }
}
@include breakpoint-mobile(710px){
    .inner-header{
        padding-left: 10px;
        padding-right: 10px;
      }
    .site-nav__list{
        display: none;
    }
    .header-btn{
        display: none;
    }
    .header-hamburger{
        display: block;
        border: none;
        background-color: transparent;
    }
    .header-hamburger__img{
        display: block;
    }
}
